<div class="container-fluid" id="contact_page">
  <div class="row">
    <div class="col-sm-6">
      <%= flash[:notice] %>
      <%= render 'contact' %>
    </div>
    <div class="col-sm-6">
      <%= image_tag("sundown.jpg", height: '400', width: '800', class: "img-responsive") %>
    </div>
  </div>
</div>
