<div class="page-wrap">
  <h1> Bar's Outdoor Shop</h1>
  <h2> Welcome to a broad range of outdoor clothes and equipment!</h2>
  <div class="container-fluid" id="image">
    <%= image_tag("sundown.jpg", height: '400', width: '800', class: "img-responsive") %>
  </div>
</div>
