// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#products_images {
  width: 800px;
  height: 400px;
}

#edit_page, #new_page, #show_product, #comment_section {
  width: 40%;
}

#user_comments {
  padding-top: 20px;
}

#comment_section {
  padding-top: 50px;
}

#comment_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  #comment_pagination a, #comment_pagination span {
    padding: 0.2em 0.3em; }
  #comment_pagination .disabled {
    color: #aaaaaa; }
  #comment_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  #comment_pagination a {
    text-decoration: none;
    color: black; }
    #comment_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
