// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, serif;
  color: #98ff98;
  text-align: center;
  padding-top: 75px;
}

h2 {
  text-align: center;
}

#carouselExampleIndicators {
  margin: 0 auto;
  width: 30%;
}

#carousel_images {
  width: 800px;
  height: 400px;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: black;
  color: white;
  text-align: center;
  padding-top: 60px;
}
