// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up, #log_in, #password_reset {
  margin: 0 auto;
  width: 40%;
}

#shared_links {
  margin: 0 auto;
  padding:0;
  width: 100%;
}

#users_show {
  padding-top: 71px;
}
